{% extends "baseadmin.html.twig" %}

{% block body %}
    <p class="text-end">
        <a href="#" class="btn btn-primary">
           Ajouter une nouvelle formation
    </a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Formation
                </th>
                <th>
                    Playlist
                </th>
                <th>
                    Catégories
                </th>
                <th>
                    Dates
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ formation.title }}
                        </h5>
                    </td>
                    <td class="text-left">
                        {{ formation.playlist.name }}                  
                    </td>                    
                    <td class="text-left">
                        {% for categorie in formation.categories %}
                            {{ categorie.name }}<br />
                        {% endfor %}
                    </td>                    
                    <td class="text-center">
                        {{ formation.publishedatstring }}
                    </td>
                    <td class="text-center">
                        {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:formation.id}) }}">
                                <img src="{{ formation.miniature }}" alt="Formation {{ formation.title }}">
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" class="btn btn-secondary">Editer</a>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
